body {
  font-size: 20px;
  font-family: sans-serif;
}

button,
input[type="submit"],
input[type="reset"] {
  width: fit-content;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background: #a7a7a7;
  box-shadow: 0 0 0 2px #a7a7a7;
}

.App {
  text-align: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.game {
  width: 50%;
  margin: auto;
  background-color: rgb(221 221 221);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #6b6666;
}

#card {
  margin: 0 10%;
  padding: 0 10%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}
#card p {
  font-size: 18px;
  font-weight: 500;
  transform: scaleY(1.1);
}

#answer {
  display: grid;
  justify-content: center;
  margin-bottom: 5%;
}

#answer .true {
  background-color: green;
  align-content: flex-end;
  margin: 5% 5% 5% 5%;
}

#answer .false {
  background-color: red;
  margin: 5% 5% 5% 5%;
}

.intro div {
  margin: 20% 20% 20% 20%;
}
.intro h3 {
  font-weight: 900;
  margin-block-start: 10%;
}

.intro p {
  font-weight: 400;
  transform: scaleY(1.1);
}

.btnBegin{
  margin-bottom: 5%;
}

.result {
  font-size: 20px;
  font-weight: 400;
  color: #818181;
  text-align: initial;
  margin: 5% 5%;
}

.result div span {
  font-size: 30px;
  padding-right: 2%;
  margin-block-start: 0;
}

.result div {
  display: flex;
}

.result div p {
  margin-block-start: 0;
}

.playAgain {
  margin: auto auto 5% auto;
}